/* Header Components */
.upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
  }

  #upload-text {
    font-size: 2vw;
  }
  
  @media (max-width: 700px) {
    #upload-text {
      font-size: 16px;
    }
  }
  
  @media (min-width: 701px) and (max-width: 1000px) {
    #upload-text {
      font-size: 22px;
    }
  }
  
  @media (min-width: 1001px) {
    #upload-text {
      font-size: 30px;
    }
  }
  
  #generateGraphButton {
    width: 155%;
    padding: 10px;
    background-color: #1A192B;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #generateGraphButton:hover {
    background-color: #444444;
  }

  #loginButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent; /* no background */
    color: #1A192B; /* color of X*/
    border: none;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px; /* increase the size of X */
    margin: 5px 8px;
    cursor: pointer;
  }
  
  #loginButton:hover {
    color: darkgrey; /* On hover, X becomes dark grey */
  }


/* SignIn/SignUp Modal */
.modal {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* modal sits on top of other elements */
  display: none; /* by default, modal is hidden */
}

.modal-open {
  display: block; /* when the modal is open, it is displayed */
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-title {
  font-family: 'Inter', sans-serif;  
  font-size: 25px; /* replace with the size you want */
  text-align: center; /* this will center the text */
  color: #070442;
  padding-top: 25px;
  width: 100%; /* ensures the text alignment property above works correctly */
}


.modal-body {
  padding-top: 15px;
  padding-bottom: 80px;
  padding-left: 17px;
  padding-right: 17px;
}


/* Authentication.css */
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-divider {
  background-color: #ccc;
  width: 100%;
  margin: 20px 0;
}

.signin-form,
.signup-form {
  width: 100%;
  height: 135px
}

.form-control {
  width: 95.6%;
  padding: 10px;
  margin: 9px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.signin-button,
.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #1A192B; /* blue */
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 11px 0;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

.signin-button:hover,
.signup-button:hover {
  background-color: #444444; /* blue */
  color: white;
  border: .5px solid #444444;
}

.signin-options {
  display: flex;
  justify-content: space-between;
}

.forgot-password,
.signup {
  color: rgb(117, 117, 117);
  text-decoration: none;
  padding-top: 16px;
  cursor: pointer;
}

.signup-signin-error-message {
  color: #C62828;
  margin: 2px 0;
  font-size: 12px;
}

/* Signed In User Navbar */ 
#usernameDropdownButton {
  position: absolute;
  top: 10px;
  right: 7px;
  background-color: transparent; /* no background */
  color: #262442;
  border: none;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px; 
  margin: 5px 8px;
  cursor: pointer;
}

#usernameDropdownButton:hover {
  color: darkgrey; /* On hover, X becomes dark grey */
}

.dropdown-content {
  position: fixed;  
  top: 0;           
  right: 0;         
  width: 270px;     
  height: 100vh;    
  z-index: 1500;    
  background-color: #fafafa;
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
  overflow-y: auto; 
  border-radius: 4px;
}

.dropdown-items {
  margin-top: 70px; 
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  background-color: transparent;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

#closeDropdownButton {
  position: absolute;
  top: 3px;
  left: 227px;
  background-color: transparent;
  color: #1A192B;
  border: none;
  font-size: 15px; 
  cursor: pointer;
}

#closeDropdownButton:hover {
  color: darkgrey;
}


/* React Flow Components */ 
.buttonNodeButton {
  background: transparent;
  border: none;
  color: #FFF;
  border-radius: 0px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 10px; /* padding moved from div to button */
  box-sizing: border-box;
}

.buttonNodeButton:hover {
  background-color: #444444;
}
