.upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
  }
  
  #uploadButton {
    width: 135%;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #uploadButton:hover {
    background-color: #444444;
  }