.upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
  }
  
  #uploadButton {
    width: 47%;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #uploadButton:hover {
    background-color: #444444;
  }
  
  /* Styling for nodes in react-flow */
  .react-flow__node-default {
    background-color: #4CAF50; /* Sets the node background color */
    border-radius: 5px; /* Gives nodes rounded corners */
    width: 100px; /* Sets the width of the nodes */
    height: 50px; /* Sets the height of the nodes */
    
  }
  
  .react-flow__node-default .react-flow__node-data {
    color: #FFFFFF; /* Sets the label color */
    font-size: 18px; /* Sets the label font size */
  }
  
  .flow {
    width: 100%;  /* set to 100% of the parent container */
    height: 80vh;  /* set to 80% of the viewport height */
  }  
  
  .react-flow__background {
    opacity: 1; /* or set to 0 to completely hide it */
  }